colors {
  color: #FBFBFB ;
  color: #4A4E69 ;
  color: #264653 ;
  color: #1c3540 ;
  color: #E30613 ;
  color: #FBFBFB ;
  color: #264653 ;
  color: #FBFBFB ;
  color: #97CC04 ; 
  color: #EEB902 ;
  color: #E30613 ;
  color: #FBFBFB ;
  color: #313638 ;
  color: #5F696D ;
  color: #879297 ;
  color: #B3B9BD ;
  color: #3287C1 ;
}